body {
    background-image: url(/resources/MoviesBg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;

    position: absolute;
    width: 187px;
    height: 62px;

    left: 44%;
    top: 3%;
}

.rectangle{
    width: 684px;
    height: 364px;
    background-color: white;
    border: 10px solid #61D6B6;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 51%;
    border-radius: 10px; 
    transform: translate(-50%, -50%);

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#freemovies{
    color: #22DAA8;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

#wads{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    color: black;
    text-align: center;
}

#favmovies{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    color: black;
    text-align: center;
}

#button{
    width: 600px;
    height: 83px;
    border-radius: 4px;
    background-color: #EC5632;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#button:hover{cursor: pointer}
    

#btntxt{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    color: white;
    text-align: center;
}